body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.Karoline {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #40E0D0;
    animation-name: example;
    animation-duration: 4s;
  
}

.Karoline h1 {
    font-size: 9em;
    letter-spacing: -5px;
    font-weight: 700;
    color: #7e2ea0;
    text-align: center;
}

@keyframes example {
    0%   {background-color: #0E0E52;}
    25%  {background-color: #FF91A4;}
    50%  {background-color: #DA70D6;}
    75% {background-color: #FFFF47;}
    100% {background-color: #40E0D0;}
  }
  