.Puffy {
    height:100px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(182, 95, 179);
    justify-content: center;
    align-items: center;
    font-family: Cyrene, sans-serif;
  }
  
  .Puffy h1 {
    font-size: 6em;
    color: white;
    transform: translateX(100px);
    animation: 6s slideIn ease-in-out forwards 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-transform: uppercase;
    margin-bottom: 100px;
  }

  .Karoline h1 span {
      color: #f48fb1;
  }

        
  @keyframes slideIn {
    100% {
      transform: translateY(30px);
      opacity: 1;
    }
  }

  @media (min-width: 600px) {
    .Karoline h1 {
      font-size: 6em;
      transform: translateX(-700px);
    }
  
  }