.Text {
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }

.Text h1 {
    color: orchid;
    transform: translateX(-900px);
    animation: 10s scroll ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

.Text h1 span {
      color: #00bcd4;
  }

@keyframes scroll {

  0% {
    transform: translateX(-900px);
    opacity: 0.25;
    }
  100% {
    transform: translateX(900px);
    opacity: 1;
  }
}