#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#portfolio .portfolio-images {
    width: 100%;
    border: 1px solid #424B54;
}

#portfolio .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#portfolio .portfolio-container p {
    font-size: 1.1rem;
    margin: 5px 10px 30px 10px;
    justify-content: center;
}

#portfolio .portfolio-container a {
    text-decoration: none;
    color: #424B54;
}
