@font-face {
  font-family: "Cyrene";
  src: local("Cyrene"),
    url("./fonts/Cyrene.otf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
